@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.calendly-popup {
  z-index: 9999 !important; /* Ensure it's on top of everything */
  position: fixed !important; /* Fix the position to prevent it from scrolling with the page */
  width: 100%;
  top:0;
}

.calendly-popup-content {
  height: 100vh;
}

.bg-gradient {
  background: linear-gradient(135deg, rgba(52, 211, 153, 1) 0%, rgba(37, 99, 235, 1) 100%);
}